{% extends "students/base.html" %}
{% load i18n %}

{% load static from staticfiles %}

{% block meta_title %}{% trans "Journal" %}{% endblock meta_title %}

{% block title %}{% trans "Journal Of Students Visiting" %}{% endblock title %}


{% block content %}
<!--suppress ALL -->


<a href="{% url 'students_add' %}" class="btn btn-primary">{% trans "Add Student" %}</a>

            <!-- Start Students Listing-->
            <table class="table table-hover table-bordered">


                <tbody>
                {% for journal in journal %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ journal.last_name}}&nbsp;{{journal.first_name }}</td>
                    <td>{{ journal.student_group }}</td>
                    <td><span class="glyphicon glyphicon-ok-sign"></span></td>
                    <td><span class="glyphicon glyphicon-ok-circle"></span></td>
                    <td><span class="glyphicon glyphicon-ok"></span></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>
                    <td><label><input type="checkbox"></label></td>

                </tr>

                 {% endfor %}

                </tbody>
            </table>
            <!-- End Students Listing-->

    {% include 'includes/pagination.html' %}
    <!--End Main Page Content-->

{% endblock content %}