{% extends "students/base.html" %}
{% load i18n %}

{% load static from staticfiles %}

{% load crispy_forms_tags %}

{% block meta_title %}{% trans "Students Edit" %}{% endblock meta_title %}

{% block title %}{% trans "Students Edit" %}{% endblock title %}


{% block status_message %}
    {% if errors %}
    <div class="alert alert-warning" role="alert">
        {% trans "Correct the mistakes, please" %}
    </div>
    {% endif %}
{% endblock status_message %}


{% block content %}

{% csrf_token %}
{% crispy form %}

{% endblock content %}


