{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Видалити Студенти{% endblock meta_title %}

{% block title %}Видалити Студента{% endblock title %}


{% block content %}

<form action="{% url 'students_delete' object.id %}" method="post">
    {% csrf_token %}
    <p>Ви дійсно хочете видалити студента {{ object }}?</p>
    <input type="submit" value="Так" name="delete_button"
        class="btn btn-danger" />
    <input type="submit" value="Відміна" name="cancel_button"
        class="btn btn-link" /><br /><br />
</form>

{% endblock content %}


