/* Global Styles */
h1, h2, h3, h4, h5, h6 {
font-weight: bold;
}

.alert {
/*Ми додали відстань лише зверху елемента :-top*/
margin-top: 10px;
}
/*знайшли елемент футер по його унікальному ідентифікатору footer*/
#footer{
/*задаємо верхню межу елемента: ширина лінії, тип лінії, колір лінії*/
border-top: 1px solid #dddddd;
/*задаємо внутрішню відстань до верхнього краю*/
padding-top: 10px;
}
/*Group Selector*/
#group-selector {
margin-top: 10px;
}

#group-selector select {
margin: 0;
width: 85%;
background-color: #ffffff;
border: 1px solid #cccccc;
height: 30px;
line-height: 30px;
color: #555555;
}

/* Form styles */
textarea,
select,
input,
messages {
    max-width: 300px;
}


.messages li.error { background-color: red; }

.success {
margin: 10;
width: 85%;
background-color: #ffffff;
border: 1px solid #cccccc;
height: 30px;
line-height: 30px;
color: #555555;
}

/* Journal Table Styles */
td.day-box,
th.day-header {
    padding: 4px !important;
    vertical-align: middle !important;
    text-align: center;
}

#ajax-progress-indicator{
    display: none;
}

.progress {
    display: block;
    text-align: center;
    width: 0;
    height: 3px;
    background: red;
    transition: width .3s;
}
.progress.hide {
    opacity: 0;
    transition: opacity 1.3s;
}

/* User’s Toolbar */
#user-toolbar {
    margin-top: 30px;
    text-align: right;
}
/* if email is already registered */
#error-mail{
    color: steelblue;
    font-size: large;

}

/* selection */
::selection {
    color: #ffd52d;
    background: #58b884; /* Safari */
}
::-moz-selection {
    color: #ffd52d;
    background: #58b884; /* Firefox */
}