{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Групи{% endblock meta_title %}

{% block title %}Групи Студентів{% endblock title %}

{% block content %}

<!--suppress ALL -->

<a href="{% url 'groups_add' %}" class="btn btn-primary">Додати Групу</a>

<!-- Start Students Listing-->
<table class="table table-hover table-striped">

     {% with order_by=request.GET.order_by reverse=request.GET.reverse %}

    <thead>
    <tr>
        <th>№</th>

        <th><a href="{% url 'groups' %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{% endif %}">
            Група{% if order_by == 'title' and reverse != '1' %} &uarr;
            {% elif order_by == 'title' and reverse == '1' %} &darr;{% endif %}
        </a></th>

         <th>
            <a href="{% url 'groups' %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&amp;reverse=1{% endif %}"
            >Староста{% if order_by == 'leader' and reverse != '1' %}&uarr;
                {% elif order_by == 'leader' and reverse == '1' %}&darr;
                {% endif %}
            </a>
         </th>

        <th>Дії</th>
    </tr>
    </thead>

    <tbody>

    {% for groups in groups %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a title="Редагувати" href="{% url 'groups_edit' groups.id %}">{{groups.title}}</a></td>
        <td><a title="Редагувати" href="{% url 'groups_edit' groups.id %}">{{groups.leader}}</a></td>
        <td>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle"
                        type="button" data-toggle="dropdown">Дія
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1"
                           href="{% url 'journal' %}">Відвідування</a>
                    </li>

                    <li role="presentation">
                        <a role="menuitem" tabindex="-1"
                           href="{% url 'groups_edit' groups.id %}">Редагувати</a>
                    </li>

                    <li role="presentation">
                        <a role="menuitem" tabindex="-1"
                           href="{% url 'groups_delete' groups.id %}">Видалити</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<!-- End Students Listing-->
{% endwith %}

{% include 'includes/pagination.html' %}

{% endblock content %}
