{% extends "students/base.html" %}
{% load i18n %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}{% trans "Connect with admin" %}{% endblock meta_title %}

{% block title %}{% trans "Connect with admin" %}{% endblock title %}

{% block status_message %}
    {% if form.errors %}
    <div class="alert alert-warning" role="alert">
        {% trans "Correct the mistakes" %}
    </div>
    {% endif %}

{{ block.super }}

{% endblock  %}

{% block content %}

{% csrf_token %}

{% crispy form %}

{% endblock content %}

